<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtronlabs.fun_groups"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jtronlabs.fun_groups.MainMenuActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity
            android:name="com.jtronlabs.fun_groups.PracticeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jtronlabs.fun_groups.FlashCardsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jtronlabs.fun_groups.MyDecksActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
